:host {
  display: block;
}

.bullet {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 10px;
  width: 13px;
  border-bottom-right-radius: 70%;
  border-top-right-radius: 70%;
  background: blue;
}